@model IEnumerable<TheIssueTracker.Models.Ticket>

@{
	var viewModel = ViewBag.ViewModel;

}

@{
	ViewData["Title"] = "Unassigned Tickets";
}


<div class="row">
	<h2 class="m-t-0 h3"><b>Unassigned Tickets </b></h2>
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="row justify-content-between">
					<div class="col-md-4">
						<div class="mt-3 mt-md-0">
							<a data-bs-toggle="modal" data-bs-target="#TicketsCreate" class="btn btn-success width-lg w-md waves-effect waves-light"><i class="mdi mdi-plus"></i> Create Ticket</a>
						</div>
					</div><!-- end col-->
				</div> <!-- end row -->
			</div>
		</div> <!-- end card -->
	</div><!-- end col-->
</div>
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">

				<table id="datatable" class="table table-bordered dt-responsive table-responsive nowrap">
					<thead>
						<tr>
							<th>Title</th>
							<th>Project</th>
							<th>Priority</th>
							<th>Status</th>
							<th>Type</th>
							<th>&nbsp;</th>
						</tr>
					</thead>

					<tbody>
						@foreach (Ticket ticket in Model)
						{
							<tr>
								<td>
									<a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id">@ticket.Title</a>
								</td>
								<td>
									<a asp-controller="Projects" asp-action="Details" asp-route-id="@ticket.Project.Id">@ticket.Project!.Name</a>
								</td>
								<td>
									@if (ticket.TicketPriority!.Name == "Urgent")
									{
										<h5 style="color:firebrick">Urgent</h5>
									}
									else if (ticket.TicketPriority!.Name == "High")
									{
										<h5 style="color:orangered">High</h5>

									}
									else if (ticket.TicketPriority!.Name == "Medium")
									{
										<h5 style="color:darkslateblue">Medium</h5>
									}
									else if (ticket.TicketPriority!.Name == "Low")
									{
										<h5 style="color:forestgreen">Low</h5>
									}
								</td>
								<td>
									@if (ticket.TicketStatus!.Name == "New")
									{
										<h5 class="badge bg-success">New Ticket</h5>
									}
									else if (ticket.TicketStatus!.Name == "Development")
									{
										<h5 class="badge bg-info">In Development</h5>
									}
									else if (ticket.TicketStatus!.Name == "Testing")
									{
										<h5 class="badge bg-warning">In Testing</h5>
									}
									else if (ticket.TicketStatus!.Name == "Resolved")
									{
										<h5 class="badge bg-secondary">Resolved</h5>
									}
								</td>
								<td>
									@if (ticket.TicketType!.Name == "NewDevelopment")
									{
										<h5 class="badge bg-pink">New Development</h5>
									}
									else if (ticket.TicketType!.Name == "WorkTask")
									{
										<h5 class="badge bg-primary">Work Task</h5>
									}
									else if (ticket.TicketType!.Name == "Defect")
									{
										<h5 class="badge bg-danger">Defect</h5>
									}
									else if (ticket.TicketType!.Name == "ChangeRequest")
									{
										<h5 class="badge bg-info">Change Request</h5>
									}
									else if (ticket.TicketType!.Name == "Enhancement")
									{
										<h5 class="badge bg-success">Enhancement</h5>
									}
									else if (ticket.TicketType!.Name == "GeneralTask")
									{
										<h5 class="badge bg-light">General Task</h5>
									}
								</td>
								<td class="d-flex justify-content-evenly">
									@if ((User.IsInRole("Admin") || User.IsInRole("Project Manager")))
									{
										<a asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-id="@ticket.Id" data-bs-toggle="modal" data-bs-target="#AssignDeveloper" type="button" class="btn btn-soft-warning waves-effect waves-light">Assign Developer</a>
										
									}
									@if (!User.IsInRole("Submitter"))
									{
										<a asp-action="Edit" asp-controller="Tickets" asp-route-id="@ticket.Id" type="button" class="btn btn-soft-success waves-effect waves-light">Edit</a>
									}

									
									@*<a asp-action="Archive" asp-controller="Tickets" asp-route-id="@ticket.Id" type="button" class="btn btn-soft-dark waves-effect waves-light">Archive</a>
*@
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div> <!-- end row -->
@section Scripts{
	<script>
		$('#datatable').DataTable();
	</script>
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AssignDeveloper">
	Launch static backdrop modal
</button>

<!-- Modal -->
@foreach (Ticket ticket in Model)
{
	@*Assign Developer Modal*@
	<div class="modal fade" id="AssignDeveloper" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="AssignDeveloperLabel">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form asp-controller="Tickets" asp-action="AssignDeveloper" method="post" class="d-flex flex-column">
						<input type="hidden" asp-for="@ticket.Id" />
						<select asp-items="@viewModel.DeveloperList">
							@*asp-for="@viewModel.DeveloperId"*@
							<option value="">Unassigned</option>
						</select>
						<div class="modal-footer">
							<a type="submit" class="btn btn-success my-3">Save</a>
							<a data-bs-dismiss="modal" class="btn btn-secondary">Cancel</a>
						</div>
					</form>

				</div>
				
			</div>
		</div>
	</div>

	@*Edit Tickets Modal*@
	<div class="modal fade" id="TicketsEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="staticBackdropLabel">Edit Ticket</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form asp-action="Edit" asp-controller="Tickets" method="post">
						<input type="hidden" asp-for="@ticket.Id" />
						<input type="hidden" asp-for="@ticket.Created" />
						<input type="hidden" asp-for="@ticket.SubmitterUserId" />
						<input type="hidden" asp-for="@ticket.DeveloperUserId" />
						<input type="hidden" asp-for="@ticket.ProjectId" />
						<input type="hidden" asp-for="@ticket.Archived" />
						<input type="hidden" asp-for="@ticket.ArchivedByProject" />
						<div class="row g-3 p-2">
							<div class="col-12 d-flex justify-content-center">
								<div class="row">
									<div class="col-12">
										<label asp-for="@ticket.Title" class="control-label"></label>
										<input asp-for="@ticket.Title" class="form-control" />
										<span asp-validation-for="@ticket.Title" class="text-danger"></span>
									</div>
									<div class="col-12">
										<label asp-for="@ticket.Description" class="control-label"></label>
										<input asp-for="@ticket.Description" class="form-control" />
										<span asp-validation-for="@ticket.Description" class="text-danger"></span>
									</div>
									<div class="col-12 mt-2">
										<label asp-for="@ticket.TicketTypeId" class="control-label"></label>
										<select asp-for="@ticket.TicketTypeId" class="form-control" asp-items="@ViewBag.TicketTypeId"></select>
										<span asp-validation-for="@ticket.TicketTypeId" class="text-danger"></span>
									</div>
									<div class="col-12 mt-2">
										<label asp-for="@ticket.TicketStatusId" class="control-label"></label>
										<select asp-for="@ticket.TicketStatusId" class="form-control" asp-items="@ViewBag.TicketStatusId"></select>
										<span asp-validation-for="@ticket.TicketStatusId" class="text-danger"></span>
									</div>
									<div class="col-12 mt-2">
										<label asp-for="@ticket.TicketPriorityId" class="control-label"></label>
										<select asp-for="@ticket.TicketPriorityId" class="form-control" asp-items="@ViewBag.TicketPriorityId"></select>
										<span asp-validation-for="@ticket.TicketPriorityId" class="text-danger"></span>
									</div>
									<div class="col-12 d-flex justify-content-center mt-2">
										<button type="submit" class="btn btn-lg btn-primary rounded-pill">Save</button>
									</div>
								</div>
							</div>
						</div>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>

	<!-- Create Ticket Modal -->
	<div class="modal fade" id="TicketsCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="TicketsCreateLabel">Create New Ticket</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form asp-action="Create">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="form-group">
							<label asp-for="@ticket.Title" class="control-label"></label>
							<input asp-for="@ticket.Title" class="form-control" />
							<span asp-validation-for="@ticket.Title" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="@ticket.Description" class="control-label"></label>
							<input asp-for="@ticket.Description" class="form-control" />
							<span asp-validation-for="@ticket.Description" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="@ticket.ProjectId" class="control-label"></label>
							<select asp-for="@ticket.ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
						</div>
						<div class="form-group">
							<label asp-for="@ticket.TicketTypeId" class="control-label"></label>
							<select asp-for="@ticket.TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
						</div>
						@*            <div class="form-group">
					<label asp-for="TicketStatusId" class="control-label"></label>
					<select asp-for="TicketStatusId" class ="form-control" asp-items="ViewBag.TicketStatusId"></select>
					</div>*@
						<div class="form-group">
							<label asp-for="@ticket.TicketPriorityId" class="control-label"></label>
							<select asp-for="@ticket.TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
						</div>
						@*<div class="form-group">
					<label asp-for="DeveloperUserId" class="control-label"></label>
					<select asp-for="DeveloperUserId" class ="form-control" asp-items="ViewBag.DeveloperUserId"></select>
					</div>
					<div class="form-group">
					<label asp-for="SubmitterUserId" class="control-label"></label>
					<select asp-for="SubmitterUserId" class ="form-control" asp-items="ViewBag.SubmitterUserId"></select>
					</div>*@
						<div class="modal-footer">
							<input type="submit" value="Create" class="btn btn-success" />
							<input type="submit" value="Close" asp-action="Index" data-bs-dismiss="modal" class="btn btn-secondary" />
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
	<!-- END Create Ticket Modal -->
}