@model IEnumerable<TheIssueTracker.Models.Ticket>

@{
	var viewModel = ViewBag.ViewModel;
	
}

@{
	ViewData["Title"] = "Index";
}


</div>
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">

				<table id="datatable" class="table table-bordered dt-responsive table-responsive nowrap">
					<thead>
						<tr>
							<th>Title</th>
							<th>ID</th>
							<th>Description</th>
							<th>Project</th>
							<th>Submitter</th>
							<th>Priority</th>
							<th>Status</th>
							<th>Type</th>
							<th>&nbsp;</th>
						</tr>
					</thead>

					<tbody>
						@foreach (Ticket ticket in Model)
						{
							<tr>
								<td>
									<a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id">@ticket.Title</a>
								</td>
								<td>@ticket.Id</td>
								<td>@ticket.Description</td>
								<td>
									<a asp-controller="Projects" asp-action="Details" asp-route-id="@ticket.Project.Id">@ticket.Project!.Name</a>
								</td>
								<td>@ticket.SubmitterUser!.FullName</td>
								<td>
									@if (ticket.TicketPriority!.Name == "Urgent")
									{
										<h5 style="color:firebrick">Urgent</h5>
									}
									else if (ticket.TicketPriority!.Name == "High")
									{
										<h5 style="color:orangered">High</h5>

									}
									else if (ticket.TicketPriority!.Name == "Medium")
									{
										<h5 style="color:darkslateblue">Medium</h5>
									}
									else if (ticket.TicketPriority!.Name == "Low")
									{
										<h5 style="color:forestgreen">Low</h5>
									}
								</td>
								<td>
									@if (ticket.TicketStatus!.Name == "New")
									{
										<h5 class="badge bg-success">New Ticket</h5>
									}
									else if (ticket.TicketStatus!.Name == "Development")
									{
										<h5 class="badge bg-info">In Development</h5>
									}
									else if (ticket.TicketStatus!.Name == "Testing")
									{
										<h5 class="badge bg-warning">In Testing</h5>
									}
									else if (ticket.TicketStatus!.Name == "Resolved")
									{
										<h5 class="badge bg-secondary">Resolved</h5>
									}
								</td>
								<td>
									@if (ticket.TicketType!.Name == "NewDevelopment")
									{
										<h5 class="badge bg-pink">New Development</h5>
									}
									else if (ticket.TicketType!.Name == "WorkTask")
									{
										<h5 class="badge bg-primary">Work Task</h5>
									}
									else if (ticket.TicketType!.Name == "Defect")
									{
										<h5 class="badge bg-danger">Defect</h5>
									}
									else if (ticket.TicketType!.Name == "ChangeRequest")
									{
										<h5 class="badge bg-info">Change Request</h5>
									}
									else if (ticket.TicketType!.Name == "Enhancement")
									{
										<h5 class="badge bg-success">Enhancement</h5>
									}
									else if (ticket.TicketType!.Name == "GeneralTask")
									{
										<h5 class="badge bg-light">General Task</h5>
									}
								</td>
								<td class="d-flex justify-content-evenly">
									<a asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-id="@ticket.Id" type="button" class="btn btn-soft-warning waves-effect waves-light">Assign Developer</a>
									<a asp-action="Edit" asp-controller="Tickets" asp-route-id="@ticket.Id" type="button" class="btn btn-soft-success waves-effect waves-light">Edit</a>
									<a asp-action="Archive" asp-controller="Tickets" asp-route-id="@ticket.Id" type="button" class="btn btn-soft-dark waves-effect waves-light">Archive</a>

                                </td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div> <!-- end row -->
@section Scripts{
	<script>
		$('#datatable').DataTable();
	</script>
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
	Launch static backdrop modal
</button>

<!-- Modal -->
@foreach (Ticket ticket in Model)
						{
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">				
				<form asp-controller="Tickets" asp-action="AssignDeveloper" method="post" class="d-flex flex-column">
					<input type="hidden" asp-for="@ticket.Id" />
						<select asp-items="@viewModel.DeveloperList">
							@*asp-for="@viewModel.DeveloperId"*@
						<option value="">Unassigned</option>
					</select>
					<button type="submit" class="btn btn-primary my-3">Save</button>
					
				</form>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				
			</div>
		</div>
	</div>
</div>
}