@model TheIssueTracker.Models.Company

@{
    ViewData["Title"] = "Details";
}

@*For your CompanyController index, implement a view that displays relevant information in a visually appealing way using your template. Some details that should be included:

At a minimum:
Company Name
Company description
Image
For admins, navigation for inviting new members and managing user roles



Optionally:
Recent tickets or ticket activity
Company members and roles
Pending or accepted invites
Charts or graphs which may be useful to admins
Anything which makes sense to make this page the optimal page for an admin to interact with their bug tracker*@

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFileData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageFileData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFileType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageFileType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
