@model IEnumerable<TheIssueTracker.Models.Project>

@using TheIssueTracker.Models.ViewModels;
@using TheIssueTracker.Models.Enums;
@using TheIssueTracker.Services.Interfaces;
@using TheIssueTracker.Services;

@inject IBTFileService _FileService;
@inject IBTProjectService _ProjectService;
@inject IBTRolesService _RolesService;


@{
	ViewData["Title"] = "Unassigned Projects";
}



<div class="container-fluid">
	<div class="row">
		<h2 class="m-t-0 h3"><b>Unassigned Projects </b></h2>
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="row justify-content-between">
						<div class="col-md-4">
							<div class="mt-3 mt-md-0">
								<a data-bs-toggle="modal" data-bs-target="#ProjectsCreate" class="btn btn-success width-lg w-md waves-effect waves-light"><i class="mdi mdi-plus"></i> Create Project</a>
							</div>
						</div><!-- end col-->
					</div> <!-- end row -->
				</div>
			</div> <!-- end card -->
		</div><!-- end col-->
	</div>

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<table id="datatable" class="table table-striped table-bordered dt-responsive nowrap">
						<thead>
							<tr>

								<th>Name</th>
								<th>Due Date</th>
								<th>&nbsp;</th>
							</tr>
						</thead>


						<tbody>
							@foreach (Project project in Model)
							{
								<tr>

									<td>
										<a asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id"><h5 class="card-title text-start">@project.Name</h5></a>
									</td>
									<td>
										@project.EndDate.ToString("MM.dd.yyyy") - @if (project.ProjectPriority!.Name == "Urgent")
										{
											<span style="color:firebrick">Urgent</span>
										}
										else if (project.ProjectPriority!.Name == "High")
										{
											<span style="color:orangered">High</span>

										}
										else if (project.ProjectPriority!.Name == "Medium")
										{
											<span style="color:darkslateblue">Medium</span>
										}
										else if (project.ProjectPriority!.Name == "Low")
										{
											<span style="color:forestgreen">Low</span>
										}
									</td>
									<td class="d-flex justify-content-center">
										<a asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id" class="btn btn-info width-sm m-1">Details</a>
										<a asp-action="AssignPM" asp-controller="Projects" asp-route-id="@project.Id" class="btn btn-soft-warning width-sm m-1"><i class="mdi mdi-plus"></i> Assign PM</a>
										<a asp-action="Edit" asp-controller="Projects" asp-route-id="@project.Id" class="btn btn-soft-success width-sm m-1">Edit</a>
										<a asp-action="Archive" asp-controller="Projects" asp-route-id="@project.Id" class="btn btn-soft-secondary width-sm m-1">Archive</a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>


</div>


@*MODALS*@

@*CREATE PROJECT Modal*@
<div class="modal fade" id="ProjectsCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="ProjectsCreateLabel">Create New Project</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				@{
					Project newProject = new();
				}
				<form asp-action="Create" asp-controller="Projects" method="post" enctype="multipart/form-data">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="row">
						<div class="col-12 col-lg-4">
							<div class="form-group">
								<label asp-for="@newProject.ImageFormFile" class="control-label">Project Image</label>
								<img class="img-fluid border rounded-3 mb-2" style="max-height: 350px;" src="@_FileService.ConvertByteArrayToFile(newProject.ImageFileData,newProject.ImageFileType,DefaultImage.ProjectImage)">
								<input asp-for="@newProject.ImageFormFile" type="file" class="form-control mt-3 pt-2" accept=".png,.jpg,.jpeg,.gif"
									   onchange="document.getElementById('blogImage').src = window.URL.createObjectURL(this.files[0])" />
							</div>
							<div class="form-group">
								<label asp-for="@newProject.Name" class="control-label"></label>
								<input asp-for="@newProject.Name" class="form-control" />
								<span asp-validation-for="@newProject.Name" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="@newProject.StartDate" class="control-label"></label>
								<input asp-for="@newProject.StartDate" class="form-control" />
								<span asp-validation-for="@newProject.StartDate" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="@newProject.EndDate" class="control-label"></label>
								<input asp-for="@newProject.EndDate" class="form-control" />
								<span asp-validation-for="@newProject.EndDate" class="text-danger"></span>
							</div>
						</div>
						<div class="col-12 col-lg-8">
							<div class="form-group">
								<label asp-for="@newProject.Description" class="control-label"></label>
								<textarea asp-for="@newProject.Description" class="editor form-control"></textarea>
								<span asp-validation-for="@newProject.Description" class="text-danger"></span>
							</div>
							<div class="form-group" id="tagContainer">
								<label asp-for="@newProject.ProjectPriorityId" class="control-label">Project Priority</label>
								<select asp-for="@newProject.ProjectPriorityId" class="form-control" asp-items="ViewBag.ProjectPriorityId"></select>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<input type="submit" value="Create" class="btn btn-success" />
						<input type="submit" value="Close" asp-action="Index" data-bs-dismiss="modal" class="btn btn-secondary" />
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
<div class="mt-5 ms-auto">
	<a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<!--CK Editor-->
	<script src="https://cdn.ckeditor.com/ckeditor5/37.1.0/classic/ckeditor.js"></script>

	<script>
		ClassicEditor
			.create(document.querySelector('.editor'), {
				licenseKey: '',
			})
			.then(editor => {
				window.editor = editor;
			});
	</script>
}